<body>
  <div id="maps"></div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8JBGTsrqQTVrv30vPBM1dy4JwQDdu9mw&callback=initMap&libraries=places,visualization">
    </script>
    </div>
  </div>
</body>
