<%= render partial: "shared/parker_navbar" %>
<html lang="en">
  <head>
    <!DOCTYPE html>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-9">
  </head>
  <body>
    <% if current_parker %>
      <div class="container">
        <div class="col-md-4">
          <div class='driver'>
            <!-- <div class="id-driver" data-driver-id=<%#=driver.id%>></div> -->
            <h3 class='driver-title'></h3>
            <div class='image'  alt="Profile picture"></div>
            <h3 class="driver-first-name"></h3>
            <h3 class="driver-last-name"></h3>
            <h3 class="driver-phone"></h3>
            <h3 class="accept"></h3>
          </div>
        </div>
        <div class="media col-md-8">
        <div id="map"></div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
         <%= render 'googlemap'%>
      <%= render 'map_api'%>
    <% else %>
      <font size="20">Park2go offers some of the best employee perks<br>
     <h1>Opportunities for career growth, work that<br>
         positively impacts the drivers culture.</h1>
    <%end%>
  </body>
</html>
