<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"<%= link_to "Park2go", root_path %>></a>
      <ul class="nav navbar-nav">
      <li class="active"><%= link_to "Driver", drivers_path%></li>
      <li class="active"><%= link_to "Parker", parkers_path%>
    </div>
  </div>
</nav>
