<%= render partial: "shared/driver_navbar" %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  </head>
  <body>
    <% if current_driver %>
    <div class="container">
      <div class="col-md-4">
        <div class='parker'>
          <h3 class='parker-title'></h3>
          <div class='image' id="theDiv"></div>
          <h3 class="parker-first-name"></h3>
          <h3 class="parker-last-name"></h3>
          <h3 class="parker-phone"></h3>
        </div>
      </div>
      <div class="media col-md-8">
        <div id="map"></div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <%= render 'googlemap'%>
        <%= render 'map_api'%>
  <% else %>
    <body>
      <h4>New York based company called Park2go<br>
      It allows drivers to find parker via mobile app,<br>
      web site and garages that use variable pricing<br>
      based on time and location approximately 30min to 1hour<br><br>
      Go ahead and sign up, to start your first ride.</h4>
    </body>
  <%end%>
</html>
