<%= render partial: "shared/driver_navbar" %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  </head>
  <body>
    <% if current_driver %>
    <div class="container">
      <div class="col-md-4">
        <div class='parker'>
          <h3 class='parker-title'></h3>
          <div class='image' id="theDiv"></div>
          <h3 class="parker-first-name"></h3>
          <h3 class="parker-last-name"></h3>
          <h3 class="parker-phone"></h3>
        </div>
      </div>
      <div class="media col-md-8">
        <div id="map"></div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <%= render 'googlemap'%>
        <%= render 'map_api'%>
  <% else %>
    <body>

    <font size="20">It allows drivers to find parker<br>
      via mobile app or web site<br></font>
      <h1>Based on time and location 30min to 1hour</h1>
    </body>
  <%end%>
</html>
