<!DOCTYPE html>
<html>
  <head>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7GAYtK24aTs2zXYyQi0INDT1ZsaeopiI"></script>
    <title>Park2go</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    

    <%= yield %>
  </body>
</html>
